/* span.lazy-load-image-background {
	position: relative;
} */
div.image-container {
	position: relative;
}

/* .lazy-load-image-background::before {
	content: '\002B';
	left: 20%;
} */
/* .image-container::before {
	content: '\002B';
	left: 12%;
} */

/* .lazy-load-image-background::after {
	content: '\002D';
	right: 20%;
} */

/* .image-container::after {
	content: '\002D';
	right: 12%;
} */

/* .image-container::before,
.image-container::after {
	cursor: pointer;
	color: rgb(29 141 97 / 60%);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	width: 15%;
	height: 15%;
	top: 44%;
	border: 1px solid rgb(71 185 140);
	border-radius: 5px;
	background: rgb(132 237 195);
} */
.image-name {
	position: absolute;
	font-size: 0.4rem;
	font-weight: 600;
	color: #130804;
	text-decoration: underline;
	/* background-color: #b26767; */
	background-color: #ff7e7e;
	text-transform: capitalize;
	top: 30%;
	left: 10%;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: -2px 2px 0px rgb(255 255 255 / 0.7);
}

.image-label {
	position: absolute;
	display: inline-flex;
	top: 70%;
	left: 18%;
	right: 5px;
	width: 3rem;
	--field-padding: 0.25rem;
}

.image-input {
	/* position: relative; */
	border: none;
	left: -0.1rem;
	top: -0.1rem;

	display: flex;
	justify-content: center;
	align-items: center;

	/* -webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none; */

	/* width: 1.4rem;
	height: 0.8rem; */

	width: 3rem;
	height: 0.8rem;
	/* margin-right: 4px; */
	padding: var(--field-padding);
	font-weight: bolder;

	/* border-radius: 3px; */
	background-color: #2ca67d;
	text-align: center;
}

.image-text {
	/* position: absolute; */
	/* left: 12px; */
	/* bottom: 50%; */
	/* top: 22px; */
	/* transform: translateY(-50%); */
	/* width: calc(100% - (var(--field-padding) * 2)); */
	/* color: #aaa; */
	/* overflow: hidden; */
	font-size: calc(var(--field-padding) * 2);
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.4rem;

	font-family: inherit;
	font-weight: 600;

	width: 100%;
	background: transparent;
	border: none;
}

.image-text:focus {
	outline: none;
}

/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
} */

/* Firefox */
/* input[type='number'] {
	-moz-appearance: textfield;
} */
.add-button {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 5.4%;
	right: 6%;
	border: none;
	background: #ff7e7e;
	font-family: inherit;
	font-size: 0.6rem;
	border-bottom-left-radius: 5px;
	padding: 0 0.25rem;
	box-shadow: -2px 2px 0px rgb(0 0 0 / 0.4);
	transition: transform 0.3s ease-in-out;
}

.add-button:hover,
.add-button:active {
	transform: scale(1.1);
	text-decoration: underline;
	background: #ff7e7e;
}

.add-button:focus {
	outline: none;
}

.quantity-button {
	cursor: pointer;
	color: rgb(29 141 97 / 60%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	width: 100%;

	border: 1px solid rgb(71 185 140);

	background: rgb(132 237 195);
	align-items: center;
}

.quantity-button:focus {
	outline: none;
	box-shadow: none;
}

.decrease {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.increase {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

button:focus {
	outline: none;
}

@media (min-width: 425px) {
	.add-button {
		top: 4.4%;
		right: 4%;
	}
	.image-label {
		top: 75%;
		left: 29%;
	}

	.image-input {
		width: 4rem;
		height: 0.9rem;
	}

	.image-name {
		font-size: 0.6rem;
	}

	.quantity-button {
		font-size: 15px;
	}
}

@media (min-width: 768px) {
	.add-button {
		font-size: 0.9rem;
		top: 3%;
		right: 3.2%;
	}

	.image-label {
		top: 75%;
		left: 29%;
	}

	.image-input {
		width: 5rem;
		height: 1rem;
	}

	.image-text {
		font-size: 0.6rem;
	}

	.image-name {
		font-size: 0.7rem;
		padding: 0 0.25rem;
	}

	.quantity-button {
		font-size: 15px;
	}
}

@media (min-width: 1024px) {
	.add-button {
		font-size: 1.2rem;
		top: 2.1%;
		right: 2.7%;
	}

	.image-label {
		width: 6.5rem;
		top: 75%;
		left: 29%;
	}

	.image-input {
		width: 9rem;
		height: 1.8rem;
	}

	.image-text {
		font-size: 1.1rem;
	}

	.image-name {
		font-size: 0.7rem;
		padding: 0 0.25rem;
	}

	.quantity-button {
		font-size: 32px;
	}
}

@media (min-width: 1440px) {
	.image-label {
		top: 70%;
		left: 19%;
	}

	.image-name {
		font-size: 0.9rem;
		padding: 0 0.45rem;
	}
}

@media (min-width: 1920px) {
	.add-button {
		font-size: 1.4rem;
		top: 1.5%;
		right: 1.7%;
	}

	.image-label {
		width: 8rem;
		top: 70%;
		left: 19%;
	}

	.image-input {
		width: 14.2rem;
		height: 1.9rem;
	}

	.image-text {
		font-size: 1.3rem;
	}

	.image-name {
		font-size: 0.9rem;
		padding: 0 0.45rem;
	}

	.quantity-button {
		font-size: 35px;
	}
}
