:root {
	/* --handle-size: 3rem; */
	--handle-size: 1rem;
	--img-gap: 0.25rem;
}

.product-container {
	width: 80%;
}

.container {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.slider {
	--items-per-screen: 2;
	--slider-index: 0;
	display: flex;
	flex-grow: 1;
	margin: 0 var(--img-gap);
	transform: translateX(calc(var(--slider-index) * -100%));
	transition: transform 250ms ease-in-out;
}

.slider > img {
	flex: 0 0 calc(100% / var(--items-per-screen));
	max-width: calc(100% / var(--items-per-screen));
	aspect-ratio: 16 / 9;
	padding: var(--img-gap);
	border-radius: 1rem;
}

.slider > span {
	display: block;
	flex: 0 0 calc(100% / var(--items-per-screen));
	max-width: calc(100% / var(--items-per-screen));
	padding: var(--img-gap);
}

.slider > span > img {
	width: 100%;
	max-width: 100%;
	border-radius: 1rem;
}

.handle {
	border: none;
	border-radius: 0.7rem;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: rgb(42, 167, 119);
	z-index: 1000;
	margin: var(--img-gap) 0;
	width: var(--handle-size);
	cursor: pointer;
	position: relative;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	line-height: 0;
	transition: background-color 150ms ease-in-out;
}

.left-handle {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.right-handle {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
	background-color: rgb(17, 70, 49);
}

.text {
	font-size: 2rem;
	transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
	transform: scale(1.2);
}

.header {
	display: flex;
	justify-content: space-between;
	/* padding: 0.5rem calc(var(--img-gap) * 2 + var(--handle-size)); */
}

.title {
	font-size: 1rem;
	margin: 0;
}

.progress-bar {
	display: flex;
	gap: 0.25rem;
	justify-content: center;
	align-items: center;
}

.progress-item {
	/* flex: 0 0 1.5rem; */
	flex: 0 0 1rem;
	/* min-width: 1.5rem; */
	min-width: 1rem;
	/* height: 0.5rem; */
	height: 0.5rem;
	border-radius: var(--handle-size);
	background-color: #77777777;
	transition: all 0.3s ease-in-out;
}

.progress-item:hover {
	box-shadow: 0 5px 10px rgb(0 0 0 / 0.4);
	background-color: rgb(17, 70, 49);
}

.progress-item.active {
	background-color: #777777e7;
	background-color: rgb(17, 70, 49);
}

.skeleton {
	height: 4.5rem;
}
/* @media (mim-width: 375px) {
	.slider {
		--items-per-screen: 2;
	}
	.skeleton {
		height: 5rem;
	}
} */

/* @media (min-width: 321px) and (max-width: 424px) {
	.skeleton {
		height: 5rem;
	}
} */

@media (min-width: 425px) {
	.slider {
		--items-per-screen: 2;
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.slider {
		--items-per-screen: 3;
	}

	.skeleton {
		height: 6rem;
	}

	.handle {
		width: 2.2rem;
	}

	.title {
		font-size: 1.5rem;
	}

	.progress-item {
		flex: 0 0 1.5rem;
		min-width: 1.5rem;
		height: 0.75rem;
	}

	.skeleton {
		height: 7rem;
	}
}

@media (min-width: 769px) and (max-width: 1023px) {
	.skeleton {
		height: 9rem;
	}
}

@media (min-width: 1024px) {
	.handle {
		width: 2.2rem;
	}

	.title {
		font-size: 2rem;
	}

	.progress-item {
		flex: 0 0 2rem;
		min-width: 2rem;
		height: 0.75rem;
	}

	.skeleton {
		height: 10rem;
	}
}

@media (min-width: 1440px) {
	.slider {
		--items-per-screen: 5;
	}
}
